body {
  margin: 0;
}

#gameBoard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fb5012;
  /* background-color: #fdf0d5; */
  border-radius: 25px;
  width: 900px;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  color: #fdf035;
  font-family: "Satisfy", cursive;
  font-size: 40px;
  margin: 0;
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  background-color: white;
  width: 550px;
  height: 550px;
  display: grid;
  margin: 0px 40px 0px 40px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 10px;
  overflow: hidden;
}

.circle {
  display: inline;
  background: #efe6dd;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-self: self-end;
  margin-bottom: 20px;
}

.circle:hover {
  cursor: pointer;
}

.circle:active {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(2px);
}

.button {
  background-color: #efe6dd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: rgb(36, 36, 36);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  cursor: pointer;
}

.button:active {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(2px);
}

#black {
  background-color: #3a3335;
}

#random {
  background: linear-gradient(to bottom right, #e23413, #e3d912, #124ee2);
}

#white {
  background-color: #ffff;
}

body {
  margin: 2rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

input,
output {
  display: flex;
  font-size: 0.8em;
  font-family: Manrope, sans-serif;
}

output {
  color: #696969;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2) inset;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 180px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #efe6dd;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #efe6dd;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #efe6dd;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.top {
  display: flex;
  align-items: center;
}

.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 15px;
  /* margin-bottom: 20px; */
  background-color: #d0420e;
}

#toBlack {
  background: linear-gradient(to right, #efe6dd, #3a3335);
}
